.helpfulButtons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.helpfulText {
    color: #333333;
    width: 100%;
    font-weight: bold;
}

.iconBox {
    background-color: #ffffff;
    height: 40px;
    width: 65px;
    font-size: 15px;
    margin-top: 8px;
    border: 1px solid gray;
}
.iconBoxHover {
    cursor: pointer;
}

.iconBoxHover:hover .icon{
    color: #4571CD;
}

.iconBoxHover:hover .votes{
    color: #4571CD;
}

.votes {
    padding: 0px 5px;
}

.selected {
    background-color: #4571CD;
}

.iconSelected {
    background-color:#4571CD; 
    color: #ffffff;
}