.review {
    display: flex;
    flex-direction: column;
}

.headline {
    margin: 5px 0px;
}

.starRatingContainer {
    display: flex;
    align-content: center;
}

.rating {
    display: flex;
    color: gray;
    font-size: 18px;
    height: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    height: 26px;
    width: 26px;
    align-items: center;
    justify-content: center;
    margin: auto 4px;
}

.reviewBlock {
    width: 100%;
}

.reviewComments {
    color: #777775;
    width: 100%;
    margin: 0;
    line-height: 1.3;
}

.reviewerDetails {
    font-size: 13.5px;
    color: #777775;
    width: 200px;
    margin: 15px 0px;
}

.reviewerDetails p {
    margin: 2px 0px;
}

.minorHeading {
    font-weight: bold;
    color: gray;
}

.starRating {
    width: 150px;
    height: 30px;
}

.badge {
    width: 20px;
    vertical-align: middle;
}

.badgeText {
    vertical-align: middle;
}

@media screen and (min-width: 900px) {
    .reviewerDetails {
        position: absolute;
        right: 12%;
        margin: 0 0;
    }

    .reviewComments {
        width: 65%;
    }
}