.helpfulButtons {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.helpfulText {
    width:100%;
    font-weight: bold;
}

.iconBox {
    height: 50px;
    width:100px;
    font-size: 20px;
    margin-top: 8px;
    border: 1px solid gray;
}
.iconBoxHover {
    cursor: pointer;
}

.iconBoxHover:hover .icon{
    color:  #7aadff;
}

.iconBoxHover:hover .votes{
    color: #7aadff
}

.selected {
    background-color: #7aadff;
}

.iconSelected {
    background-color:#7aadff; 
    color: #ffffff;
}

.votes {
    padding: 0px 5px;
}