.Input {
    display: flex;
    margin: 1em 1em;
    align-items: right;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    width:100%;
}

.InputElement {
    outline: none;
    border: none;
}

.Textarea {
    height: 200px;
}

.Image {
    max-height: 200px;
    height: 100%;
    width: auto;
}

.InputElement:focus {
    outline:none;
}

.Invalid {
    border: 1px solid red;
}

.Header {
    margin: 5px 0;
    width: 100%;
}