.Input {
    display: flex;
    padding: 25px 0;
    float: right;
    width:100%;
    justify-content: flex-end;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    width:100%;
}

.InputElement {
    /* outline: none;
    border: none; */
}

.Textarea {
    height: 200px;
}

.Image {
    max-height: 200px;
    height: 100%;
    width: auto;
}

.InputElement:focus {
    outline:none;
}

.Invalid {
    border: 1px solid red;
}

.Header {
    margin-right: 8px;
    font-weight: bold;
    color: gray;
}