.header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #CCCCCC;
    align-content: center;
}

.title {
    font-size: 35px;
    width: 100%;
    margin: 5px;
}

.selector {
    width: 50%;
}

@media screen and (min-width: 650px) {
    .header {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #CCCCCC;
        align-content: center;
        height: 60px;
        padding-left: 15px;
    }

    .title {
        margin: auto;
    }

    .selector {
        width: 50%;
        text-align: right;
    }
}